<div class="container mt-4">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-2">
          <img
            src="/assets/user-image.jpg"
            class="rounded float-start image"
            alt="..."
          />
        </div>
        <div class="col-sm-10 mt-4 my-4">
          <p class="card-text">
            {{ descripcion }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="card p-3">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li *ngFor="let tab of tabs" [ngbNavItem]="tab.id">
          <a ngbNavLink>{{ tab.titulo }}</a>
          <ng-template ngbNavContent>
            <div class="container mt-4">
              <app-informacion-general
                *ngIf="tab.id === 1"
              ></app-informacion-general>
              <app-estudios *ngIf="tab.id === 2"></app-estudios>
              <app-experiencia *ngIf="tab.id === 3"></app-experiencia>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
